<html>
    <style>
        body {
            width: 100%;
        }
        h1 {
            width: 100%;
            text-align: center;
        }
        .footer {
            margin-top: 40px;
        }

        .footer div {
            margin-top: 10px;
            font-weight: bold;
        }

        .container {
            width: 70%;
            margin: 0 auto;
            padding: 22px;
            border: 1px solid darkgoldenrod;
        }
    </style>
    <body>
        <h1>OTP for profile change</h1>
        <div class="container">
            <div class="content">
                <p>
                    Dear [firstname], to change profile details we need to verify your existing email.
                </p>
                <p>[otp]</p>
                <p>OTP is valid for 10 minutes only.</p>
            </div>
            <div class="footer">
                Regards

                <div>AmreetBazaar Team</div>
                <a href="[site_domain_url]">[site_domain]</a>
            </div>
            <div>
                <p>Note: This is a system generated e-mail, please do not reply to it.</p>
                <p>
                    *** This message is intended only for the person or entity to which it is addressed and may contain
                    confidential and/or privileged information. If you have received this message in error, please
                    notify the sender immediately and delete this message from your system ***
                </p>
            </div>
        </div>
    </body>
</html>
