<html>
    <style>
        body {
            width: 100%;
        }
        h1 {
            width: 100%;
            text-align: center;
        }
        .footer {
            margin-top: 40px;
        }

        .footer div {
            margin-top: 10px;
            font-weight: bold;
        }

        .container {
            width: 70%;
            margin: 0 auto;
            padding: 22px;
            border: 1px solid darkgoldenrod;
        }
    </style>
    <body>
        <h1>Password reset</h1>
        <div class="container">
            <div class="content">
                <div>Dear customer,</div>
                <p>We have received your request for reset password.</p>
                <p>To reset, please click the link below.</p>
                <a href="[reseturl]">[reseturl]</a>
                <p>This link is valid for [urlvalidity] from you request initiation for password recovery.</p>
            </div>
            <div class="footer">
                Regards

                <div>AmreetBazaar Team</div>
                <a href="[site_domain_url]">[site_domain]</a>
            </div>
            <div>
                <p>Note: This is a system generated e-mail, please do not reply to it.</p>
                <p>
                    *** This message is intended only for the person or entity to which it is addressed and may contain
                    confidential and/or privileged information. If you have received this message in error, please
                    notify the sender immediately and delete this message from your system ***
                </p>
            </div>
        </div>
    </body>
</html>
